@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import "variables";

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2, h3 {
    cursor: default;
    position: relative;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    text-align: center;
}

// NavBar
.nav-alter {
    background-color: transparent;
    height: 80px;
    transition: all .3s ease;

    & .nav-logo {
        color: white;
    }

    & .nav-list {
        & .list-item {
            & a {
                color: white;
            }
        }
    }

}

nav {
    background-color: $primary-color;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all .3s ease;


    & .nav-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }

    .nav-logo {
        display: flex;
        text-decoration: none;
        color: white;
        align-items: center;

        & i {
            font-size: 3rem;
            margin-right: 20px;
        }

        & span {
            font-size: 1.2rem;
        }

    }

    & .nav-list {
        list-style: none;
        display: flex;

        & .list-item {
            font-size: 1.2rem;
            margin-right: 40px;
            position: relative;
            & a {
                text-decoration: none;
                color: white;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 1px;
                background-color: white;
                border-radius: 2px;
                width: 0;
                transition: width .3s ease, left .3s ease;
            }

            &:hover::after {
                width: 100%;
                left: 0;
            }
        }
    }
}

// Hero section

.hero {
    position: relative;
    margin: 0 0 200px 0;
    overflow-x: hidden;

    & img {
        height: auto;
        width: 100%;
        background-size: cover;
        filter: brightness(40%);
    }



    & .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;

        & .hero-title {
            font-size: 3rem;
            margin-bottom: 10px;
        }

        & .hero-subtitle {
            font-weight: 300;
        }
    }
}

.return-btn {
    position: fixed;
    bottom: 50px;
    left: 10px;
    color: white;
    z-index: 20;
    background-color: $primary-color;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    display: none;
}

@media screen and (max-width:768px) {
    nav .nav-logo {
        display: none;
    }

    nav .nav-container {
        justify-content: center;
    }

    .hero img {
        height: 80vh;
        width: auto;
    }

    .hero .hero-content .hero-title {
        font-size: 2rem;
    }

    .hero .hero-content .hero-subtitle {
        font-size: 1.1rem;
    }

    .return-btn {
        display: block;
    }

    .err .err-btn {
        font-size: 0.8rem;
    }
}

// Offer section

.offer {
    width: 50%;
    margin: auto;

    & .offer-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        & .card {
            max-width: 250px;
            min-width: 200px;
            border-radius: 5px;
            padding: 10px;
            margin: 50px;
            background-color: white;
            position: relative;
            box-shadow: 0 0 2px 0 #5a5a5a;
            transition: transform 0.3s ease;

            & .card-header {
                display: flex;
                align-items: center;
                justify-content: space-around;

                & i {
                    font-size: 2.4rem;
                }
            }

            &:hover {
                transform: translateY(-5px);
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 5px;
                top: 0px;
                left: 0px;
                opacity: 0;
                box-shadow: 0 5px 10px 0 #5a5a5a;
                transition: opacity .3s ease;
            }

            &:hover::after {
                opacity: 1;
            }
        }

    }

}

// Gallery slideshow

.gallery {
    margin-top: 300px;
}


.gallery-container {
    background-color: #EEE;

    & .gallery-cell {
        width: 75%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            opacity: 0.7;
            filter: blur(2px);
            transform: scale(0.8);
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
            transition: opacity 0.3s, transform 0.3s, filter 0.3s;
        }

        &.is-selected img {
            opacity: 1;
            transform: scale(1);
            filter: none;
        }
      }
}

// Weather section
.weather {
    margin-top: 200px;
}

.weather-container, .today, .tomorrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .err {
        width: 80%;
        height: 70px;
        margin-bottom: 100px;
        background-color: #ff5257;
        border: 4px solid #cf0006;
        margin: auto;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;

        & .err-content {
            margin-right: 5px;
        }

        & .err-btn {
            background: none;
            border: none;
            font-size: 1.2rem;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    & .weather-card {
        background-color: white;
        box-shadow: 0px 0px 2px 0px #5a5a5a;
        max-width: 300px;
        min-width: 200px;
        height: auto;
        border-radius: 5px;
        margin: 20px;
        position: relative;


        & .time {
            border-radius: 5px;
            width: 300px;
            height: 300px;
        }

        & .icon {
            position: absolute;
            background-color: white;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            top: 28%;
            left: 37%;
            z-index: 2;
        }

        & .card-content {
            text-align: center;
            padding: 10px;

            & div {
                margin-bottom: 10px;
            }
        }
    }
}




footer {
    width: 100%;
    height: 50px;
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
